.col-sm-3.sidenav
  %h4 Google Sheets API - Test
  %ul.nav.nav-pills.nav-stacked
    %li.active
      = link_to root_path do
        %span.glyphicon.glyphicon-home{"aria-hidden" => "true"}
        Home
    %li
      = link_to items_path do
        %span.glyphicon.glyphicon-list-alt{"aria-hidden" => "true"}
        Registros
