.col-sm-3.sidenav
  %h4 Google Sheets API - Test
  %ul.nav.nav-pills.nav-stacked
    %li.active
      %a{:href => "#section1"}
        %span.glyphicon.glyphicon-home{"aria-hidden" => "true"}
        Home
    %li
      %a{:href => "#section2"}
        %span.glyphicon.glyphicon-list-alt{"aria-hidden" => "true"}
        Registros
