.page-header
  %h4 BEM-VINDO
%h3 Últimos registros

.col-md-3
  .panel.panel-default
    .panel-heading
      %h3.panel-title Nome do  Registro
    .panel-body
      %ul.list-unstyled
        %li <strong>Nome:</strong> Nome do registro
        %li <strong>Condição:</strong> Condicionado
        %li <strong>Valor:</strong> 1458,00
        %li <strong>Tempo:</strong> 3,5 anos
        %li <strong>Coeficiente:</strong> 3,5 anos
